@use "./variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $ff-open-sans;
  font-size: $fs-default;
}

h1,
h2,
h3,
h4 {
  font-family: $ff-poppins;
  font-weight: 600;
}

a {
  text-decoration: none;
  font: inherit;
  color: $white;
}

ul li {
  list-style: none;
}

button {
  border: none;
  font: inherit;
  background: none;
  cursor: pointer;
}

span,
img,
i {
  display: block;
}

// MAIN CONTAINER
.main-container {
  background: $snow;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  position: relative;
  overflow: hidden;
}
