// TYPOGRAPHY
$ff-poppins: "Poppins", sans-serif;
$ff-open-sans: "Open Sans", sans-serif;
$fs-default: 18px;

// PRIMARY COLORS
$pink: hsl(322, 100%, 66%);
$snow: hsl(0, 100%, 99%);
$black: #000000;
$white: hsl(0, 0%, 100%);

// NEUTRAL COLORS
$very-pale-cyan: hsl(193, 100%, 96%);
$very-dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);
$background-header: hsl(191, 89%, 96%);

// OTHERS
$transition-default: 0.25s ease;
