@use "../variables" as *;

// ABOUT SECTION

.about {
  margin: 115px 40px 450px 40px;
  text-align: center;
  position: relative;
}

.about__card {
  padding: 70px 20px 70px 20px;
  border-radius: 25px;
  box-shadow: 0px 0px 10px #888888;
  margin-bottom: 75px;
}

.about__card__img {
  height: 100%;
  width: 100%;
  margin-bottom: 50px;
}

.about__card__h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.about__card__p {
  font-size: $fs-default;
  color: $grayish-blue;
  line-height: 1.5;
  font-weight: 400;
}

// ABSOLUTE CARD
//CENTER AN ABSOLUTE DIV
.about__card-absolute {
  position: absolute;
  transform: translateY(30%);
  max-width: 900px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 55px 0px 55px;
  border-radius: 25px;
  background: $white;
  box-shadow: 0px 0px 10px #888888;
}

.about__card-absolute__h2 {
  margin-bottom: 60px;
}

.header__get-started-button-bottom {
  padding: 15px 25px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 45px;
  background: $pink;
  color: $white;
  box-shadow: 0px 0px 10px #888888;
  margin-bottom: 100px;
}

.header__get-started-button-bottom:hover {
  opacity: 0.9;
  transform: scale(1.01);
}

// MEDIA QUIRIES

@media (max-width: 437px) {
  .header__get-started-button-bottom {
    font-size: 16px;
  }
}

@media (min-width: 516px) {
  .about__card {
    padding: 110px 70px 70px 70px;
  }

  .about__card__img {
    margin-bottom: 125px;
  }

  .header__get-started-button-bottom {
    padding: 27px 50px;
  }
}

@media (min-width: 662px) {
  .header__get-started-button-bottom {
    width: 400px;
  }
  .about__card-absolute__h2 {
    font-size: 40px;
  }
}

@media (min-width: 1121px) {
  .about__card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 170px;
    height: 440px;
    padding: 55px 32px 55px 120px;
  }

  .about__card__h2 {
    font-size: 32px;
    margin-bottom: 22px;
  }

  .about__card__p {
    max-width: 600px;
  }

  .about__card__img-container {
    height: 340px;
  }

  .flip__card {
    order: 2;
  }

  .about__card__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
