@use "../variables" as *;

// ABOUT SECTION
// main {
//   position: relative;
// }

.about {
  margin: 115px 40px 450px 40px;
  text-align: center;
  position: relative;
}

.about__card {
  padding: 70px 20px 70px 20px;
  border-radius: 25px;
  box-shadow: 5px 10px 18px #888888;
  margin-bottom: 75px;
}

.about__card__img {
  height: 100%;
  width: 100%;
  margin-bottom: 50px;
}

.about__card__h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.about__card__p {
  font-size: $fs-default;
  color: $grayish-blue;
  line-height: 1.5;
  font-weight: 400;
}

// FIXME: re-size absolute card
.about__card-absolute {
  position: absolute;
  transform: translateY(30%);
  width: 100%;
  padding: 100px 55px 0px 55px;
  border-radius: 25px;
  background: $white;
  box-shadow: 5px 10px 18px #888888;
}

.about__card-absolute__h2 {
  margin-bottom: 60px;
}

.header__get-started-button-bottom {
  padding: 15px 25px;
  // max-width: 400px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 45px;
  background: $pink;
  color: $white;
  box-shadow: 0 10px 30px -5px $grayish-blue;
  margin-bottom: 100px;
}

// MEDIA QUIRIES

@media (min-width: 516px) {
  .about__card {
    padding: 110px 70px 70px 70px;
  }

  .about__card__img {
    margin-bottom: 125px;
  }

  .header__get-started-button-bottom {
    padding: 27px 50px;
  }

  .about__card-absolute {
    transform: translateY(40%);
  }
}

@media (min-width: 662px) {
  .header__get-started-button-bottom {
    width: 400px;
  }
  .about__card-absolute__h2 {
    font-size: 40px;
  }
  .about__card-absolute {
    transform: translateY(25%);
  }
}
