@use "../variables" as *;

// FOOTER SECTION

footer {
  background: $very-dark-cyan;
  color: $white;
  padding: 275px 35px 0 35px;
}

footer .top-header__logo {
  height: 40px;
  margin-bottom: 30px;
}

// FIXME: NOT ON LAST CHILD
.location-container,
.phone-container,
.email-container {
  display: flex;
  gap: 30px;
  margin-bottom: 25px;
}

.phone-container,
.email-container {
  align-items: center;
}

.email-container {
  margin-bottom: 60px;
}

// FIXME: NOT ON LAST CHILD
.footer__links li {
  position: relative;
  margin-bottom: 25px;
}

// bottom border hover affect
.footer__links li::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 45px;
  width: 0;
  height: 2px;
  transform: translateX(-50%);
  background: $grayish-blue;
}

.footer__links li:hover::after {
  width: 5rem;
}

.footer__links li:hover {
  color: $grayish-blue;
}

.footer__links {
  margin-bottom: 80px;
}

.footer__socials {
  text-align: center;
  margin-bottom: 40px;
}

.footer__socials i {
  margin: 0 10px;
}

.footer__socials i {
  color: $white;
  border: 2px $white solid;
  font-size: 20px;
  padding: 15px;
  border-radius: 50%;
}

.footer__socials i:hover {
  color: $pink;
  border: 2px solid $pink;
}

.copywrite {
  text-align: center;
  font-size: 16px;
  padding-bottom: 50px;
}

// TODO: NEW SKILL!! CHANGE IMG TO COLOR WHITE
footer .top-header__logo {
  filter: brightness(0) invert(1);
}

@media (min-width: 1258px) {
  footer {
    padding: 200px 30px 30px 90px;
  }

  .footer__content-container {
    display: flex;
  }

  .footer__contact-info {
    margin-right: 100px;
  }

  .footer__links {
    margin-right: 100px;
  }
  .footer__pin-text {
    max-width: 400px;
  }

  // FIXME: ORDER OF LINKS FOR DESKTOP
  .footer__links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
  }

  .footer__links__career {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .footer__links__what-we-do {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .footer__links__faq {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  //FIXME: SOCIAL LINKS BREAK AT DESKTOP

  .copywrite {
    display: flex;
    justify-content: end;
    margin-right: 50px;
  }
}
