@use "../variables" as *;

// HEADER SECTION

header {
  background: url("../../images/bg-hero-mobile.svg") no-repeat;
  background-size: contain;
  background-color: $background-header;
  padding: 3.4375rem 1.875rem;
  text-align: center;
}

.header__top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 9.6875rem;
}

.header__logo {
  height: 1.5625rem;
  width: auto;
}

.header__try-button {
  padding: 10px;
  background: $white;
  border-radius: 2.1875rem;
  font-weight: 700;
  box-shadow: 0px 0px 10px #888888;
  font-size: 1rem;
  color: black;
}

.header__h1 {
  font-size: 1.8rem;
  margin-bottom: 4.375rem;
}

.header__p {
  font-size: 1rem;
  margin-bottom: 4.375rem;
  line-height: 2;
}

.header__get-started-button {
  padding: 1.6875rem 2.8125rem;
  font-weight: 700;
  border-radius: 2.8125rem;
  background: $pink;
  color: $white;
  box-shadow: 0px 0px 10px #888888;
  margin-bottom: 6.875rem;
}

.header__hero-image {
  margin: 4rem auto;
  height: 100%;
  width: 100%;
}

.header__get-started-button:hover,
.header__try-button:hover {
  opacity: 0.9;
  transform: scale(1.01);
}

// MEDIA QUERIES

// TABLET STYLES
@media (min-width: 516px) {
  .header__try-button {
    padding: 12px 3.125rem;
  }
  .header__logo {
    height: 1.875rem;
  }
  .header__h1 {
    font-size: 2.5rem;
  }
  .header__p {
    font-size: 1.5rem;
  }
  .header__get-started-button {
    padding: 1.6875rem 6.5rem;
  }
}

@media (min-width: 1121px) {
  .header__top-header {
    margin-bottom: 3rem;
  }

  .header__main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
  }

  .header__content {
    text-align: left;
  }

  header {
    background: url("../../images/bg-hero-desktop.svg") no-repeat;
    background-color: $background-header;
    padding: 5rem;
  }

  .header__h1 {
    font-size: 2.7rem;
    margin: 6rem 0 1.875rem 0;
  }
  .header__p {
    font-size: $fs-default;
    margin-bottom: 3.875rem;
  }

  .header__img-container {
    position: relative;
    height: 28.125rem;
    width: auto;
    transform: scale(1.2);
  }

  .header__hero-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .header__get-started-button {
    padding: 1.6875rem 5.5rem;
  }
}
