@use "../variables" as *;

// HEADER SECTION

header {
  background: url("/images/bg-hero-mobile.svg") no-repeat;
  background-size: contain;
  background-color: $background-header;
  padding: 55px 30px;
  text-align: center;
}

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 155px;
}

.top-header__logo {
  height: 25px;
  width: auto;
}

.top-header__try-button {
  padding: 10px 15px;
  background: $white;
  border-radius: 35px;
  font-weight: 700;
  // box-shadow: 0 10px 30px -5px $grayish-blue;
  box-shadow: 0px 0px 10px #888888;
  font-size: 18px;
}

.header__h1 {
  font-size: 40px;
  margin-bottom: 70px;
}

.header__p {
  font-size: 20px;
  margin-bottom: 70px;
  line-height: 2;
}

.header__get-started-button {
  padding: 27px 50px;
  font-weight: 700;
  border-radius: 45px;
  background: $pink;
  color: $white;
  // box-shadow: 0 10px 30px -5px $grayish-blue;
  box-shadow: 0px 0px 10px #888888;
  margin-bottom: 110px;
}

.header__hero-image {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.header__get-started-button:hover,
.top-header__try-button:hover {
  opacity: 0.9;
  transform: scale(1.01);
}

// MEDIA QUERIES

// TABLET STYLES
@media (min-width: 516px) {
  .top-header__try-button {
    padding: 12px 45px;
  }
  .top-header__logo {
    height: 30px;
  }
  .header__p {
    font-size: 24px;
  }
  .header__get-started-button {
    padding: 27px 120px;
  }
}
