*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
  font: inherit;
  color: hsl(0deg, 0%, 100%);
}

ul li {
  list-style: none;
  transition: 0.25s ease;
}

button {
  border: none;
  font: inherit;
  background: none;
  cursor: pointer;
  transition: 0.25s ease;
}

span,
img,
i {
  display: block;
}

.main-container {
  background: hsl(0deg, 100%, 99%);
  width: 100%;
  min-height: 100vh;
  margin: auto;
  position: relative;
  overflow: hidden;
}

header {
  background: url("../../images/bg-hero-mobile.svg") no-repeat;
  background-size: contain;
  background-color: hsl(191deg, 89%, 96%);
  padding: 3.4375rem 1.875rem;
  text-align: center;
}

.header__top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 9.6875rem;
}

.header__logo {
  height: 1.5625rem;
  width: auto;
}

.header__try-button {
  padding: 10px;
  background: hsl(0deg, 0%, 100%);
  border-radius: 2.1875rem;
  font-weight: 700;
  box-shadow: 0px 0px 10px #888888;
  font-size: 1rem;
  color: black;
}

.header__h1 {
  font-size: 1.8rem;
  margin-bottom: 4.375rem;
}

.header__p {
  font-size: 1rem;
  margin-bottom: 4.375rem;
  line-height: 2;
}

.header__get-started-button {
  padding: 1.6875rem 2.8125rem;
  font-weight: 700;
  border-radius: 2.8125rem;
  background: hsl(322deg, 100%, 66%);
  color: hsl(0deg, 0%, 100%);
  box-shadow: 0px 0px 10px #888888;
  margin-bottom: 6.875rem;
}

.header__hero-image {
  margin: 4rem auto;
  height: 100%;
  width: 100%;
}

.header__get-started-button:hover,
.header__try-button:hover {
  opacity: 0.9;
  transform: scale(1.01);
}

@media (min-width: 516px) {
  .header__try-button {
    padding: 12px 3.125rem;
  }
  .header__logo {
    height: 1.875rem;
  }
  .header__h1 {
    font-size: 2.5rem;
  }
  .header__p {
    font-size: 1.5rem;
  }
  .header__get-started-button {
    padding: 1.6875rem 6.5rem;
  }
}
@media (min-width: 1121px) {
  .header__top-header {
    margin-bottom: 3rem;
  }
  .header__main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
  }
  .header__content {
    text-align: left;
  }
  header {
    background: url("../../images/bg-hero-desktop.svg") no-repeat;
    background-color: hsl(191deg, 89%, 96%);
    padding: 5rem;
  }
  .header__h1 {
    font-size: 2.7rem;
    margin: 6rem 0 1.875rem 0;
  }
  .header__p {
    font-size: 18px;
    margin-bottom: 3.875rem;
  }
  .header__img-container {
    position: relative;
    height: 28.125rem;
    width: auto;
    transform: scale(1.2);
  }
  .header__hero-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .header__get-started-button {
    padding: 1.6875rem 5.5rem;
  }
}
.about {
  margin: 7.1875rem 2.5rem 28.125rem 2.5rem;
  text-align: center;
  position: relative;
}

.about__card {
  padding: 4.375rem 1.25rem 4.375rem 1.25rem;
  border-radius: 1.5625rem;
  box-shadow: 0px 0px 10px #888888;
  margin-bottom: 4.6875rem;
}

.about__card__img {
  height: 100%;
  width: 100%;
  margin-bottom: 3.125rem;
}

.about__card__h2 {
  font-size: 1.5rem;
  margin-bottom: 1.875rem;
}

.about__card__p {
  font-size: 18px;
  color: hsl(208deg, 11%, 55%);
  line-height: 1.5;
  font-weight: 400;
}

.about__card-absolute {
  position: absolute;
  transform: translateY(50%);
  max-width: 56.25rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 6.25rem 1rem 5rem 1rem;
  border-radius: 1.5625rem;
  background: hsl(0deg, 0%, 100%);
  box-shadow: 0px 0px 10px #888888;
}

.about__card-absolute__h2 {
  font-size: 1.5rem;
  margin-bottom: 3.75rem;
}

.header__get-started-button-bottom {
  padding: 0.9375rem 1.5625rem;
  font-weight: 700;
  font-size: 1.125rem;
  border-radius: 2.8125rem;
  background: hsl(322deg, 100%, 66%);
  color: hsl(0deg, 0%, 100%);
  box-shadow: 0px 0px 10px #888888;
  margin-bottom: 6.25rem;
}

.header__get-started-button-bottom:hover {
  opacity: 0.9;
  transform: scale(1.01);
}

@media (max-width: 437px) {
  .header__get-started-button-bottom {
    font-size: 16px;
  }
}
@media (min-width: 516px) {
  .about__card {
    padding: 6.875rem 4.375rem 4.375rem 4.375rem;
  }
  .about__card__h2 {
    font-size: 2rem;
  }
  .about__card__img {
    margin-bottom: 7.8125rem;
  }
  .header__get-started-button-bottom {
    padding: 1.6875rem 3.125rem;
  }
}
@media (min-width: 662px) {
  .header__get-started-button-bottom {
    width: 25rem;
  }
  .about__card-absolute__h2 {
    font-size: 2.1rem;
  }
}
@media (min-width: 1121px) {
  .about__card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 10.625rem;
    height: 27.5rem;
    padding: 3.4375rem 2rem 3.4375rem 7.5rem;
  }
  .about__card__h2 {
    font-size: 2rem;
    margin-bottom: 1.375rem;
  }
  .about__card__p {
    max-width: 37.5rem;
  }
  .about__card__img-container {
    height: 21.25rem;
  }
  .flip__card {
    order: 2;
  }
  .about__card__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
footer {
  background: hsl(192deg, 100%, 9%);
  color: hsl(0deg, 0%, 100%);
  padding: 17.1875rem 2.1875rem 0 2.1875rem;
}

footer .top-header__logo {
  height: 2.5rem;
  margin-bottom: 1.875rem;
}

.location-container,
.phone-container,
.email-container {
  display: flex;
  gap: 1.875rem;
  margin-bottom: 1.5625rem;
}

.phone-container,
.email-container {
  align-items: center;
}

.footer__pin-text {
  max-width: 19rem;
}

.email-container {
  margin-bottom: 3.75rem;
}

.footer__links a {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5625rem;
}

.footer__links a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 2.4175rem;
  width: 0;
  height: 2px;
  transform: translateX(-50%);
  background: hsl(208deg, 11%, 55%);
}

.footer__links a:hover::after {
  width: 5rem;
}

.footer__links a:hover {
  color: hsl(208deg, 11%, 55%);
}

.footer__links {
  margin-bottom: 5rem;
}

.footer__socials {
  text-align: center;
  margin-bottom: 2.5rem;
}

.footer__socials i {
  margin: 0 10px;
}

.footer__socials i {
  color: hsl(0deg, 0%, 100%);
  border: 2px hsl(0deg, 0%, 100%) solid;
  font-size: 1.25rem;
  padding: 15px;
  border-radius: 50%;
}

.footer__socials i:hover {
  color: hsl(322deg, 100%, 66%);
  border: 2px solid hsl(322deg, 100%, 66%);
}

.copywrite {
  text-align: center;
  font-size: 1rem;
  padding-bottom: 3.125rem;
}

footer .top-header__logo {
  filter: brightness(0) invert(1);
}

@media (min-width: 1258px) {
  footer {
    padding: 12.5rem 1.875rem 1.875rem 5.625rem;
  }
  .footer__content-container {
    display: flex;
  }
  .footer__contact-info {
    margin-right: 6.25rem;
  }
  .footer__links {
    margin-right: 6.25rem;
  }
  .footer__links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3.125rem;
  }
  .footer__links__career {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .footer__links__what-we-do {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .footer__links__faq {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .copywrite {
    display: flex;
    justify-content: end;
    margin-right: 3.125rem;
  }
}

/*# sourceMappingURL=styles.css.map */
